<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学生请假管理</title>
	<!-- 新 Bootstrap4 核心 CSS 文件 -->
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
	<!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
	<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
	<!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
	<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<style>
    .myNav{
        background-color: black;
    }
	
	#logout{
		padding-left: 120px;
		
	}
	#logout :hover{
		color:red;
	}
	
	
	
	#student{
		height:230px;
		overflow: scroll;
	}
	
	#reason{
		height:200px;
		overflow: scroll;
	}
</style>
<body>
	<div th:include="../templates/nav.html :: header"></div>
	<div class="jumbotron jumbotron-fluid">
	  <div class="container">
	    <h1 class="display-4">学生请假管理</h1>
	    <p class="lead">学生请假名单</p>
		<div id="student">
			<a href="#" class="list-group-item">陈嘉豪</a>
			<a href="#" class="list-group-item">24*7 支持</a>
			<a href="#" class="list-group-item">免费 Window 空间托管</a>
			<a href="#" class="list-group-item">图像的数量</a>
			<a href="#" class="list-group-item">每年更新成本</a>
			<a href="#" class="list-group-item">陈嘉豪</a>
			<a href="#" class="list-group-item">24*7 支持</a>
			<a href="#" class="list-group-item">免费 Window 空间托管</a>
			<a href="#" class="list-group-item">图像的数量</a>
			<a href="#" class="list-group-item">每年更新成本</a>
			<a href="#" class="list-group-item">陈嘉豪</a>
			<a href="#" class="list-group-item">24*7 支持</a>
			<a href="#" class="list-group-item">免费 Window 空间托管</a>
			<a href="#" class="list-group-item">图像的数量</a>
			<a href="#" class="list-group-item">每年更新成本</a>
			<a href="#" class="list-group-item">陈嘉豪</a>
			<a href="#" class="list-group-item">24*7 支持</a>
			<a href="#" class="list-group-item">免费 Window 空间托管</a>
			<a href="#" class="list-group-item">图像的数量</a>
			<a href="#" class="list-group-item">每年更新成本</a>
		</div>
		<br>
		<p class="lead">请假理由</p>
		<span>时间:</span>&nbsp;&nbsp;
		<input type="text" readonly="readonly" />&nbsp;&nbsp;-
		<input type="text" readonly="readonly" />
		<textarea id="reason" class="form-control" rows="3" placeholder="请假理由" readonly="readonly"></textarea>
		<br>
		<button type="button" class="btn btn-primary">同意</button>
		<button type="button" class="btn btn-secondary">不批准</button>
	  </div>
	</div>
</body>
</html>