<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>图书管理</title>
	<!-- 新 Bootstrap4 核心 CSS 文件 -->
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
	<!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
	<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
	<!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
	<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
	
	<script src="https://cdn.bootcss.com/toastr.js/latest/js/toastr.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/toastr.js/latest/css/toastr.min.css">
</head>

<style>
    .myNav{
        background-color: black;
    }

	#logout{
		padding-left: 120px;

	}
	#logout :hover{
		color:red;
	}

	
/* 	
	#book1{
		height:400px;
		overflow: scroll;
	} */
	
	.a1{
		display : inline;
	}
	
	.a2{
		float: right;
	}

</style>
<script>
	
	
	$(function(){
		var role = $("#role").val();
		if(role == "教师"){
			$(".fixer").css("display","none");
			$(".booker").css("display","none");
		}else if(role == "维修人员"){
			$(".teacher").css("display","none");
			$(".booker").css("display","none");
		}else if(role == "图书管理人员"){
			$(".teacher").css("display","none");
			$(".fixer").css("display","none");
		}
		
		$(".change").click(function(){
			var bookName=$(this).parent().parent().children('td').eq(0).text();
			var amount=$(this).parent().parent().children('td').eq(1).text();
			
			$("#bookName").val(bookName);
			$("#amount").val(amount);

		})
		$('#broswer tbody').on('click','.renewal',function(){
			//toastr.success("已经续期1个月");
			var bookName=$(this).parent().parent().children('td').eq(0).text();
			var studentName=$(this).parent().parent().children('td').eq(1).text();
			var time=$(this).parent().parent().children('td').eq(2).text();

			$.ajax({
			type:"put",
			url:"/graduation/book/updateTime?bookName="+bookName+"&studentName="+studentName+"&time="+time,
			success:function(data){
				 $(this).parent().parent().children('td').eq(2).text(data.time);
			     toastr.success("已经续期1个月");
			  }
			})
		});
		        

		$(".selectBroswer").click(function(){
			var bookName=$(this).parent().parent().children('td').eq(0).text();
			$.ajax({
				type:"get",
				url:"/graduation/book/selectBroswer?bookName="+bookName,
				success:function(data){
				 $('#broswer tr:not(#first)').empty();
				 var groupTable = $('#broswer');
				 $.each(data,function(key,val){
					 if(val.studentName!=null && val.studentName!=""){
						 groupTable.append('<tr> ' +
						        '<td>' + val.bookName + '</td>' + 
						 		'<td>' + val.studentName + '</td>' + 
						 		'<td>' + val.time + '</td>' +
						 		'<td><a class="nav-link extern renewal" href="javascript:;">续期</a></td>' +
						 		'</tr>')
					 }
				 	
				  })	
				}
			})
		})
		
	
	})
</script>
<body>
	<div th:include="../templates/nav.html :: header"></div>
	<div class="jumbotron jumbotron-fluid">
	  <div class="container">
	    <!-- <h1 class="display-4">图书管理</h1> -->
	    <p class="lead a1">图书名单</p>
		<button class="btn btn-primary btn-lg a1 a2" data-toggle="modal" data-target="#myModal">
			新增
		</button>
		<div >
			<table id="book" class="table table-striped">
			  <thead>
			    <tr>
			      <th scope="col">书名</th>
			      <th scope="col">数量</th>
				  <th scope="col">操作</th>
			    </tr>
			  </thead>
			  <tbody>
                <tr th:each="book:${books}">
				 <td th:text="${book.bookName}"></td>
				 <td th:text="${book.amount}"></td>
                 <td><a class=" a1"   th:href="@{/book/delete(bookName=${book.bookName})}">删除</a> <a class="nav-link change a1" href="#"  data-toggle="modal" data-target="#myModal2">更改</a> <a class="nav-link selectBroswer a1" href="#" data-toggle="modal" data-target="#myModal1">借阅情况</a> </td>		
			    </tr>				  	 
			  </tbody>
			</table>
		</div>
	    
	    <br>
		
		<!-- 模态框（Modal） -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<form th:action="@{/book/insert}" method="post">
						  <div class="form-group">
						    <label for="exampleInputEmail1">书名:</label>
						    <input type="text" class="form-control" name="bookName" id="exampleInputEmail1" aria-describedby="emailHelp">
						  </div>
						  <div class="form-group">
						    <label for="exampleInputPassword1">数量:</label>
						    <input type="number" min="1" class="form-control" name="amount" id="exampleInputPassword1">
						  </div>
						  <div class="modal-footer">
						  	<button type="button" class="btn btn-default" data-dismiss="modal">关闭
						  	</button>
						  	<button type="submit" class="btn btn-primary">
						  		保存
						  	</button>
						  </div>
						</form>
					</div>			
				</div>
			</div>
		</div>
		
		<!-- 模态框（Modal） -->
		<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<form th:action="@{/book/update}" method="post">
						  <div class="form-group">
						    <label for="bookName">书名:</label>
						    <input type="text" readonly="readonly" class="form-control" name="bookName" id="bookName" aria-describedby="emailHelp">
						  </div>
						  <div class="form-group">
						    <label for="amount">数量:</label>
						    <input type="number" min="1" class="form-control" name="amount" id="amount">
						  </div>
						  <div class="modal-footer">
						  	<button type="button" class="btn btn-default" data-dismiss="modal">关闭
						  	</button>
						  	<button type="submit" class="btn btn-primary">
						  		保存
						  	</button>
						  </div>
						</form>
					</div>			
				</div>
			</div>
		</div>
		
		
		<!-- 模态框（Modal） -->
		<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<table id="broswer" class="table table-striped">
						  <thead>
						    <tr id="first">
						      <th scope="col">书名</th>
						      <th scope="col">借阅人</th>
						      <th scope="col">到期时间</th>
							  <th scope="col">操作</th>
						    </tr>
						  </thead>
						  <tbody>
						  </tbody>
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭
						</button>
					</div>
				</div>
			</div>
		</div>
		
	  </div>
	</div>
</body>

</html>