<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<title>课表管理</title>
	<!-- 新 Bootstrap4 核心 CSS 文件 -->
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
	<!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
	<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
	<!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
	<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
	
	<script src="https://cdn.bootcss.com/toastr.js/latest/js/toastr.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/toastr.js/latest/css/toastr.min.css">
</head>
<style>
    .myNav{
        background-color: black;
    }
	
	#logout{
		padding-left: 120px;
		
	}
	#logout :hover{
		color:red;
	}
</style>
<body>
	<div th:include="../templates/nav.html :: header"></div>
	<div class="jumbotron jumbotron-fluid">
	  <div class="container">
	    <!-- <h1 class="display-4">课表管理</h1> -->
	    <p class="lead">班级选择</p>
 	   <select class="form-control"  id="grade">
 	   	<option th:each="college:${colleges}" th:value="${college.grade}" th:text="${college.grade}"></option>
 	   </select>
	   <br>
		<p class="lead">学期选择</p>
		<select class="form-control" id="term">
		   <option>2020-2021-1</option>
		   <option>2020-2021-2</option>
		   <option>2021-2022-1</option>
		   <option>2021-2022-2</option>
		   <option>2022-2023-1</option>
		   <option>2022-2023-2</option>
		   <option>2023-2024-1</option>
		   <option>2023-2024-2</option>
		   <option>2024-2025-1</option>
		   <option>2024-2025-2</option>
		</select>
		<br>
		<br>
		<button type="button" id="select" class="btn btn-primary">查询</button>
		<br>
		
		<form th:action="@{/curriculum/insert}" method="post">
			<input type="hidden" name="grade" id="grade1" />
			<input type="hidden" name="term" id="term1" />
			
			<table class="table table-bordered">
			  <thead>
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">星期一</th>
			      <th scope="col">星期二</th>
			      <th scope="col">星期三</th>
				  <th scope="col">星期四</th>
				  <th scope="col">星期五</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <th scope="row">1-2节课</th>
			      <td><input class="form-control" readonly="readonly" id="cur11" name="cur11"/></td>
			      <td><input class="form-control" readonly="readonly" id="cur21" name="cur21"/></td>
			      <td><input class="form-control" readonly="readonly" id="cur31" name="cur31"/></td>
				  <td><input class="form-control" readonly="readonly" id="cur41" name="cur41"/></td>
				  <td><input class="form-control" readonly="readonly" id="cur51" name="cur51"/></td>
				  
			    </tr>
			    <tr>
			      <th scope="row">3-4节课</th>
			      <td><input class="form-control" readonly="readonly" id="cur12" name="cur12"/></td>
			      <td><input class="form-control" readonly="readonly" id="cur22" name="cur22"/></td>
			      <td><input class="form-control" readonly="readonly" id="cur32" name="cur32"/></td>
				  <td><input class="form-control" readonly="readonly" id="cur42" name="cur42"/></td>
				  <td><input class="form-control" readonly="readonly" id="cur52" name="cur52"/></td>
				  
			    </tr>
			    <tr>
			      <th scope="row">5-6节课</th>
			      <td><input class="form-control" readonly="readonly" id="cur13" name="cur13"/></td>
			      <td><input class="form-control" readonly="readonly" id="cur23" name="cur23"/></td>
				  <td><input class="form-control" readonly="readonly" id="cur33" name="cur33"/></td>
				  <td><input class="form-control" readonly="readonly" id="cur43" name="cur43"/></td>
				  <td><input class="form-control" readonly="readonly" id="cur53" name="cur53"/></td>
				  
			    </tr>
				<tr>
				  <th scope="row">7-8节课</th>
				  <td><input class="form-control" readonly="readonly" id="cur14" name="cur14"/></td>
				  <td><input class="form-control" readonly="readonly" id="cur24" name="cur24"/></td>
				  <td><input class="form-control" readonly="readonly" id="cur34" name="cur34"/></td>
				  <td><input class="form-control" readonly="readonly" id="cur44" name="cur44"/></td>
				  <td><input class="form-control" readonly="readonly" id="cur54" name="cur54"/></td>
				  
				</tr>
				<!-- <tr>
				  <th scope="row">9-10节课</th>
				  <td><input class="form-control"/></td>
				  <td><input class="form-control"/></td>
				  <td><input class="form-control"/></td>
				  <td><input class="form-control"/></td>
				  <td><input class="form-control"/></td> 
				</tr> -->
			  </tbody>
			</table>
			<!-- <button type="submit" id="save" class="btn btn-primary">保存</button> -->
		</form>
		
	  </div>
	</div>
</body>
<script>
	$(function(){
		$("#save").click(function(){
			var grade = $("#grade").val();
			var term = $("#term").val();
			
			$("#grade1").val(grade);
			$("#term1").val(term);
		})
		
		$("#select").click(function(){
			var grade = $("#grade").val();
			var term = $("#term").val();
		
			$.ajax({
				type:"GET",
				url:"/curriculum/select/"+grade+"/"+term,
				data:{
					"grade" : grade,
					"term" : term
				},
				dataType:"json",
				success:function(data){			
						
					

						toastr.success("查询成功");
						$("#cur11").val(data.cur11);
						$("#cur21").val(data.cur21);
						$("#cur31").val(data.cur31);
						$("#cur41").val(data.cur41);
						$("#cur51").val(data.cur51);
						$("#cur12").val(data.cur12);
						$("#cur22").val(data.cur22);
						$("#cur32").val(data.cur32);
						$("#cur42").val(data.cur42);
						$("#cur52").val(data.cur52);
						$("#cur13").val(data.cur13);
						$("#cur23").val(data.cur23);
						$("#cur33").val(data.cur33);
						$("#cur43").val(data.cur43);
						$("#cur53").val(data.cur53);
						$("#cur14").val(data.cur14);
						$("#cur24").val(data.cur24);
						$("#cur34").val(data.cur34);
						$("#cur44").val(data.cur44);
						$("#cur54").val(data.cur54);
						
				
				},
				error:function(data){
					 toastr.error("查询结果为空");
					  $("#cur11").val("");
					  $("#cur21").val("");
					  $("#cur31").val("");
					  $("#cur41").val("");
					  $("#cur51").val("");
					  $("#cur12").val("");
					  $("#cur22").val("");
					  $("#cur32").val("");
					  $("#cur42").val("");
					  $("#cur52").val("");
					  $("#cur13").val("");
					  $("#cur23").val("");
					  $("#cur33").val("");
					  $("#cur43").val("");
					  $("#cur53").val("");
					  $("#cur14").val("");
					  $("#cur24").val("");
					  $("#cur34").val("");
					  $("#cur44").val("");
				      $("#cur54").val("");			
				}
			})
		})
	})
</script>
</html>