<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>通知管理</title>
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<style>
    .myNav{
        background-color: black;
    }
	
	#logout{
		padding-left: 120px;
		
	}
	#logout :hover{
		color:red;
	}
	#notice{
		height:400px;
		overflow: scroll;
	}
	
	.a1{
		display : inline;
	}
	
	.a2{
		float: right;
	}

</style>
<body>
 <div th:include="../templates/nav.html :: header"></div>
 <div class="jumbotron jumbotron-fluid">
   <div class="container" style="text-align: center;">
     <p class="lead a1" >已发布通知</p>
	 <button class="btn btn-primary btn-lg a1 a2"  data-toggle="modal" data-target="#myModal">新增</button>
	 <div >
		 <table class="table table-striped">
		   <thead>
		     <tr>
		       <th scope="col">通知标题</th>
		       <th scope="col">接收班级</th>
		 	   <th scope="col">未确认名单</th> 
		 	   <th scope="col">操作</th>
		     </tr>
		   </thead>
		   <tbody>
			<tr th:each="notice:${notices}">
				<td class="ck" style="color: blue;cursor: pointer;" href="#" data-toggle="modal" data-target="#myModal3" th:text="${notice.title}"></td>
			    <td th:text="${notice.grade}"></td>
 				<td><a class="selectStudent" href="#" data-toggle="modal" data-target="#myModal1">点击查看未签到名单</a></td> 
			    <td><a class="a1"  th:href="@{/notice/delete(id=${notice.id})}">删除</a><a class="nav-link change a1" href="#"  data-toggle="modal" data-target="#myModal2">更改</a></td>	
				<td style="display: none;" th:text="${notice.text}"></td>					 
			</tr>
		   </tbody>
		 </table>
	 </div>

 	<br>
	
	
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<form th:action="@{/notice/insert}" method="post">
					  <div>
						<label  for="inlineCheckbox1">班级选择:</label>
					    <input style="margin: 10px;"  name="grades"  type="checkbox" id="inlineCheckbox1" th:each="college:${colleges}" th:value="${college.grade}" th:text="${college.grade}">
					  </div>	
                      <div class="form-group">
					    <label for="exampleInputEmail2">通知标题:</label>
					    <input type="text" class="form-control" name="title" id="exampleInputEmail2" aria-describedby="emailHelp">
					  </div>										  
					  <div class="form-group">
					    <label for="exampleInputEmail1">通知内容:</label>
					    <input type="text" class="form-control" name="text" id="exampleInputEmail1" aria-describedby="emailHelp">
					  </div>
					 
				      <div class="modal-footer">
				      	<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				     	</button>
				     	<button type="submit" class="btn btn-primary">
						  保存
				     	</button>
			          </div>							  
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<form th:action="@{/notice/update}" method="post">
					  <input type="hidden" name="id" id="id" />
					 
                      <div class="form-group">
					    <label for="grade">接收班级:</label>
					    <select class="form-control" name="grade"  id="grade">
							<option th:each="college:${colleges}" th:value="${college.grade}" th:text="${college.grade}"></option>
						</select>
					  </div>
					  <div class="form-group">
					    <label for="title">发布标题:</label>
					    <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp">
					  </div>							
					  <div class="form-group">
					    <label for="text">发布内容:</label>
					    <input type="text" class="form-control" name="text" id="text" aria-describedby="emailHelp">
					  </div>
					
				      <div class="modal-footer">
				      	<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				     	<button type="submit" class="btn btn-primary">保存</button>
			          </div>							  
					</form>
				</div>
			</div>
		</div>
	</div>
	
	
	<!-- 模态框（Modal） -->
	<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<p>未签到人数:<span id="count"></span></p>
					<table id="students" class="table table-striped">
					  <thead>
					    <tr id="first">
					      <th scope="col">#</th>
					      <th scope="col">姓名</th>
					    </tr>
					  </thead>
					  <tbody>
					  </tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭
					</button>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">		
					<div class="form-group">
					  <label for="text">通知内容:</label>
					  <textarea class="form-control" id="text1" readonly="readonly" ></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
 	<br>
   </div>
 </div>
</body>
<script type="application/javascript">
	$(function(){
		var role = $("#role").val();
		if(role == "教师"){
			$(".fixer").css("display","none");
			$(".booker").css("display","none");
		}else if(role == "维修人员"){
			$(".teacher").css("display","none");
			$(".booker").css("display","none");
		}else if(role == "图书管理人员"){
			$(".teacher").css("display","none");
			$(".fixer").css("display","none");
		}
		
		
		$(".ck").click(function(){
			var text1 = $(this).parent().children('td').eq(5).text();
			
			$("#text1").val(text1);
		})
		
		$(".change").click(function(){
			var id=$(this).parent().parent().children('td').eq(0).text();
			var title=$(this).parent().parent().children('td').eq(1).text();
			var grade=$(this).parent().parent().children('td').eq(2).text();
			var text2=$(this).parent().parent().children('td').eq(5).text();
			
			$("#id").val(id);
			$("#title").val(title);
			$("#text").val(text2);
			
			var selectId = document.getElementById("grade");
			for(i=0;i<selectId.length;i++){
			    if(selectId[i].value==grade)
			        selectId[i].selected = true;
			}
		})
		
		$(".selectStudent").click(function(){
			var id=$(this).parent().parent().children('td').eq(0).text();
			var grade=$(this).parent().parent().children('td').eq(2).text();
			var count = 0;
			
			$.ajax({
				type:"get",
				url:"/notice/selectStudent?id="+id+"&grade="+grade,
				success:function(data){
				 $('#students tr:not(#first)').empty();
				 var groupTable = $('#students');
				 $.each(data,function(key,val){
					 count++;
					 if(val.name!=null && val.name!=""){
						 groupTable.append('<tr> ' +
						        '<td>' + val.id + '</td>' + 
						 		'<td>' + val.name + '</td>' + 
						 		'</tr>')
					 }
				 	
				  })
				  document.getElementById("count").innerHTML=count;
				}
			})
			
			
		})
		
		
	})
</script>
</html>
