<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>成绩管理</title>
	<title>学生请假管理</title>
	<!-- 新 Bootstrap4 核心 CSS 文件 -->
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
	<!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
	<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
	<!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
	<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
	
	
	<script src="https://cdn.bootcss.com/toastr.js/latest/js/toastr.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/toastr.js/latest/css/toastr.min.css">
</head>
<style>
    .myNav{
        background-color: black;
    }
	
	#logout{
		padding-left: 120px;
		
	}
	#logout :hover{
		color:red;
	}
	
	
	
	#student{
		height:250px;
		overflow: scroll;
	}

</style>
<body>
	<div th:include="../templates/nav.html :: header"></div>
	<div class="jumbotron jumbotron-fluid">
	  <div class="container">
	  <!--  <h1 class="display-4">学生成绩管理</h1> -->
	  
       
	    <div class="form-group">
		  <label for="exampleInputEmail1">输入课程名称:</label>
		  <input type="text" name="number" id="subject">
		</div>	  
		 <br>
		<label for="grade">班级选择:</label>	
		<select class=""  id="grade">
			<option th:each="college:${colleges}" th:value="${college.grade}" th:text="${college.grade}"></option>
		</select>	 
		<br>
		<button type="button" id="select" class="btn btn-primary">查询</button>
		<br>
		<br>
        <div>
		
			 <table  class="table table-striped" id="table">
			   <thead>
			     <tr>
			 	  <th scope="col">#</th>
			 	  <th scope="col">班级</th>    
			      <th scope="col">姓名</th>    
			 	  <th scope="col">学号</th>   
			 	  <th scope="col">成绩</th> 
			     </tr>
			   </thead>
			   <tbody id="tbody">		   
			   </tbody>
			 </table>
			 <button type="button" class="btn btn-primary btn-lg" id="save">保存</button>
			 <!-- <button type="button" class="btn btn-primary btn-lg " id="sub">提交</button> -->
	
		 
	   </div>		

		
	  </div>
	</div>
</body>
<script type="application/javascript">
	$(function(){
		
		$("#select").click(function(){
			var grade=$("#grade").val();
			$(".score").val("");
			
			
		    $.ajax({
				type:"GET",
				url:"/graduation/score/select?grade="+grade,
				dataType:"json",
				success:function(data){
					if(data==null || data==""){
						toastr.error("查询结果为空");
						$("#table tbody").empty();
					}
					else{
						toastr.success("查询成功");
						$("#table tbody").empty();
						var tbody="";
						$.each(data,function(n,val) {   
						   var trs = "";  
						 
					       trs += " <tr><td>" +val.id+" </td> <td>" + val.grade +"</td> <td>" + val.name +"</td> <td>" + val.userName +"</td> <td><input type='number' class='score' min='0' max='100'  name='score'></td> </tr>";  
						   tbody += trs;         
						 });  
						 $("#table tbody").append(tbody);  
						
					}
					
				}
			})			
						
		})
		
		

		

	       function Person(name,score,subject) {
	         this.name = name;
	         this.score = score;
	         this.subject = subject;
	     
	       }

		   $("#save").click(function(){
			   
			   var _list=[];
			   $("#tbody tr").each(function(){
			 	 var name=$(this).children().eq(2).text();
				 var score=$(this).children().eq(4).children().eq(0).val();
				 var subject = $("#subject").val();
				
				 _list.push(new Person(name,score,subject));
		      })
			
			
			$.ajax({
				url : '/score/insert',
				data : "scores="+JSON.stringify(_list),
				dataType : "json",
				type : "POST",
				success : function(data) {
					toastr.success(data.message);
					//alert(data);
				}
			});
		})
		
	})
</script>
</html>