<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>成绩管理</title>
	<title>学生请假管理</title>
	<!-- 新 Bootstrap4 核心 CSS 文件 -->
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
	<!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
	<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
	<!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
	<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<style>
    .myNav{
        background-color: black;
    }
	
	#logout{
		padding-left: 120px;
		
	}
	#logout :hover{
		color:red;
	}
	
	
	
	#student{
		height:250px;
		overflow: scroll;
	}

</style>
<body>
	<div th:include="../templates/nav.html :: header"></div>
	<div class="jumbotron jumbotron-fluid">
	  <div class="container">
	    <h1 class="display-4">学生成绩管理</h1>
	    <p class="lead">学生名单</p>
		<div id="student">
			<ul th:each="student:${students}">
				<a class="choose" th:href="@{/score/select(name=${student.name})}" th:text="${student.name}"></a>
				<span>所属班级:</span>&nbsp;&nbsp;
				<span th:text="${student.grade}"></span>
			</ul>
		</div>
		<br>
		<p class="lead">成绩</p>
		<table class="table table-striped">
		  <thead>
		    <tr>
			  <th scope="col">#</th>
			  <th scope="col">学生</th>
		      <th scope="col">学科</th>
		      <th scope="col">分数</th>
			  <th scope="col">操作</th>
		    </tr>
		  </thead>
		  <tbody>
             <tr th:each="score:${scores}">
				 <td th:text="${score.id}"></td>
				 <td th:text="${score.name}"></td>
				 <td th:text="${score.subject}"></td>
				 <td th:text="${score.score}"></td>
                 <td><a class="nav-link"  th:href="@{/score/delete(id=${score.id})}">删除</a> <a class="nav-link change" href="#"  data-toggle="modal" data-target="#myModal2">更改</a></td>			 			 
			 </tr>			  
		  </tbody>
		</table>
		<br>
		<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
			新增
		</button>
		<!-- 模态框（Modal） -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">

					<div class="modal-body">
						<form th:action="@{/score/insert}" method="post">
						  <div class="form-group">
							<label for="exampleInputEmail2">学生:</label>
							<input type="text" name="name" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp">
						  </div>
						  <div class="form-group">
						    <label for="exampleInputEmail1">学科:</label>
						    <input type="text" name="subject" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
						  </div>
						  <div class="form-group">
						    <label for="exampleInputPassword1">成绩:</label>
						    <input type="number" name="score" max="100" min="0" class="form-control" id="exampleInputPassword1">
						  </div>
						  <div class="modal-footer">
						  	<button type="button" class="btn btn-default" data-dismiss="modal">关闭
						  	</button>
						  	<button type="submit" class="btn btn-primary">
						  		保存
						  	</button>
						  </div>
						</form>
					</div>
				
				</div>
			</div>
		</div>
		<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
		
					<div class="modal-body">
						<form th:action="@{/score/update}" method="post">
						  <input type="hidden" id="id" name="id" />
						  <div class="form-group">
							<label for="name">学生:</label>
							<input type="text" name="name" class="form-control" id="name" aria-describedby="emailHelp">
						  </div>
						  <div class="form-group">
						    <label for="subject">学科:</label>
						    <input type="text" name="subject" class="form-control" id="subject" aria-describedby="emailHelp">
						  </div>
						  <div class="form-group">
						    <label for="score">成绩:</label>
						    <input type="number" name="score" max="100" min="0" class="form-control" id="score">
						  </div>
						  <div class="modal-footer">
						  	<button type="button" class="btn btn-default" data-dismiss="modal">关闭
						  	</button>
						  	<button type="submit" class="btn btn-primary">
						  		保存
						  	</button>
						  </div>
						</form>
					</div>
				
				</div>
			</div>
		</div>
		
		
	  </div>
	</div>
</body>
<script type="application/javascript">
	$(function(){
		$(".change").click(function(){
			var id=$(this).parent().parent().children('td').eq(0).text();
			var name=$(this).parent().parent().children('td').eq(1).text();
			var subject=$(this).parent().parent().children('td').eq(2).text();
			var score=$(this).parent().parent().children('td').eq(3).text();
			
			$("#id").val(id);
			$("#name").val(name);
			$("#subject").val(subject);
			$("#score").val(score);
		})
	})
</script>
</html>