<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>签到管理</title>
	<title>学生请假管理</title>
	<!-- 新 Bootstrap4 核心 CSS 文件 -->
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
	<!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
	<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
	<!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
	<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<style>
    .myNav{
        background-color: black;
    }
	
	#logout{
		padding-left: 120px;
		
	}
	#logout :hover{
		color:red;
	}

    .sign{
		height:230px;
		overflow: scroll;
	}
</style>
<body>
	<div th:include="../templates/nav.html :: header"></div>
	<div class="jumbotron jumbotron-fluid">
	  <div class="container">
	    <h1 class="display-4">签到管理</h1>
	    <p class="lead">已签到学生名单</p>
		<div class="sign">
			<table class="table table-striped">
			  <thead>
			    <tr>
				  <th scope="col">#</th>
			      <th scope="col">姓名</th>
			      <th scope="col">签到地点</th>
				  <th scope="col">方式</th>
				  <th scope="col">体温</th>
			    </tr>
			  </thead>
			  <tbody th:each="list1:${list1}">
				<tr th:each="list1:${list1}">
				    <td th:text="${list1.id}"></td>
				    <td th:text="${list1.name}"></td>
				    <td th:text="${list1.location}"></td>
				    <td th:text="${list1.stuation}"></td>
					<td th:text="${list1.temperature}"></td>
				</tr>
			  </tbody>
			</table>
		</div>
		
		<br>
		<p class="lead">未签到学生名单</p>
		<div class="sign">
			<table class="table table-striped">
			  <thead>
			    <tr>
				  <th scope="col">#</th>
			      <th scope="col">姓名</th>
				  <th scope="col">体温</th>
			    </tr>
			  </thead>
              <tbody th:each="list2:${list2}">
				<tr th:each="list2:${list2}">
				    <td th:text="${list2.id}"></td>
				    <td th:text="${list2.name}"></td>
					<td th:text="${list2.temperature}"></td>
				</tr>
			  </tbody>
			</table>
		</div>
		
	  </div>
	</div>
</body>
</html>